// font
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$font-family-base: 'Poppins', sans-serif;
$headings-font-family: 'Poppins', sans-serif;
$schoolfont: 'Century Schoolbook', sans-serif;
                                                

// Colors
$body-color: #41463E;
$brand-primary: #104627;
$brand-secondary: #F4461F;
$btn-hover: #156636;
$link-color: $brand-secondary;
$link-hover: #156636;


/* Font Weights for Google Fonts */
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;