.contact__us {
    @include cover-overlay($fill-grey-dark, 0.6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;

    .inner {
        position: relative;
        z-index: 1;
        min-height: auto;
        display: flex;
        flex-direction: column;
        padding: 50px 0 50px;

        @include media-breakpoint-up(md) {
            min-height: 1725px;
            padding: 70px 0 70px;
        }
        @include media-breakpoint-up(xl) {
            padding: 112px 0 101px;
        }
    }

    .section__heading {
        @include font-format(22pt);
        color: #fff;
        max-width: 570px;
        width: 100%;
        margin-bottom: 50px;

        @include media-breakpoint-up(md) {
            @include font-format(25pt);
        }
        @include media-breakpoint-up(md) {
            @include font-format(28pt);
        }

        @include media-breakpoint-up(lg) {
            @include font-format(32pt);
        }

        @include media-breakpoint-up(xl) {
            @include font-format(36pt);
        }
    }

    &--form--content {
        margin-top: auto !important;

        .single:first-child {
            background-color: $fill-grey-dark-v2;
        }
        .single:last-child {
            background-color: $fill-grey-light-v2;
        }
    }

    &--text {
        color: #fff;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 65px 0 50px;

        .mail__image {
            width: 130px;
            height: 130px;
            margin: 0 auto 15px;

            @include media-breakpoint-up(md) {
                width: 160px;
                height: 160px;
            }

            @include media-breakpoint-up(lg) {
                width: 190px;
                height: 190px;
                margin: 0 auto 30px;
            }

            @include media-breakpoint-up(xl) {
                width: 235px;
                height: 235px;
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .description {
            @include font-format(12pt);

            @include media-breakpoint-up(md) {
                @include font-format(14pt);
            }

            @include media-breakpoint-up(lg) {
                @include font-format(16pt);
            }

            @include media-breakpoint-up(xl) {
                @include font-format(18.4pt);
            }
        }
    }

    &--form {
        padding: 30px 0 50px;

        @include media-breakpoint-up(lg) {
            padding: 40px 0 65px;
        }

        @include media-breakpoint-up(xl) {
            padding: 45px 0 65px;
        }

        h3 {
            @include font-format(17pt);
            text-align: center;
            text-transform: uppercase;
            color: $fill-purple;
            margin-bottom: 15px;

            @include media-breakpoint-up(md) {
                @include font-format(19pt);
                margin-bottom: 25px;
            }

            @include media-breakpoint-up(lg) {
                @include font-format(22pt);
                margin-bottom: 30px;
            }

            @include media-breakpoint-up(xl) {
                @include font-format(26.3pt);
                margin-bottom: 45px;
            }
        }

        form {
            max-width: 640px;
            width: 100%;
            margin: 0 auto;
        }

        .form__field {
            width: 100%;
            border: none;
            outline: none;
            min-height: 40px;
            padding: 15px;
            margin-bottom: 20px;
            @include font-format(12pt);

            @include media-breakpoint-up(md) {
                min-height: 55px;
                @include font-format(14pt);
            }

            @include media-breakpoint-up(xl) {
                min-height: 70px;
            }

            &::placeholder {
                color: $fill-grey-v2;
            }
        }

        .btn {
            max-width: 185px;
            width: 100%;
            @include font-format(12pt);

            @include media-breakpoint-up(md) {
                @include font-format(15pt);
            }
        }
    }
}