.all-courses {
    padding: 50px 0;

    .head {

        h2 {
            text-transform: uppercase;
        }
    }

    .filters {

        .filters-btns {
            display: grid;
            grid-template-columns: 100px 200px;
            gap: 10px;

            .bordered-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 15px;
                border: 1px solid #2D2F31;
                height: 100%;

                @include media-breakpoint-down(lg) {
                    padding: 8px 10px;
                }

                &:has(.sort-by) {
                    justify-content: flex-start;
                }

                a,
                select {
                    @include global-font;
                    @include font-format(15px, 1.2);
                    color: #2D2F31;
                    font-weight: 400;
                }

                a {
                    font-weight: 500;
                }

                p {
                    @include global-font;
                    @include font-format(12px, 1.2);
                    font-weight: 500;
                    color: #2D2F31;
                    margin-bottom: 3px;
                }

                .sort-by {
                    width: 100%;
                }

                select {
                    width: 100%;
                    border: none;
                    text-transform: capitalize;

                    &:focus-visible {
                        border: none;
                        outline: none;
                    }
                }
            }
        }
    }

    .filters-wrapper {

        .accordion-item {
            margin-top: 20px;
            border: none;
            background-color: transparent;

            .accordion-button {
                border: none;
                border-top: 1px solid #D1D7DC;
                background-color: transparent;
                color: #2D2F31;
                @include global-font;
                @include font-format(16px, 1.2);
                font-weight: 700;
                text-transform: capitalize;
                padding: 16px 3px;

                @include media-breakpoint-down(md) {
                    @include font-format(14px, 1.2);
                }

                &:not(.collapsed) {
                    box-shadow: none;
                    border-color: #D1D7DC;
                    background-color: transparent;
                    color: #2D2F31;

                    &::after {
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                    }
                }

                &:focus {
                    box-shadow: none;
                    border-color: #D1D7DC;
                    background-color: transparent;
                    color: #2D2F31;
                }

            }

            .ratings {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 5px;

                .form-check {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    input {
                        margin-top: 0;
                        border-radius: 50%;
                        border-width: 2px;
                        border-color: #2D2F31;

                        &:checked[type=checkbox] {
                            background-color: $brand-primary;
                            border-color: $brand-primary;
                        }

                        &:focus {
                            box-shadow: none
                        }
                    }

                    label {
                        @include global-font;
                        @include font-format(12px, 1.2);
                        color: #2D2F31;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }
            }

            .category {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                &.price {
                    display: flex;
                    gap: 10%;
                    align-items: center;
                    flex-wrap: wrap;
                }

                .form-check {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    input {
                        margin-top: 0;
                        border-width: 2px;
                        border-color: #2D2F31;

                        &:checked[type=checkbox] {
                            background-color: $brand-primary;
                            border-color: $brand-primary;
                        }

                        &:focus {
                            box-shadow: none
                        }
                    }

                    label {
                        @include global-font;
                        @include font-format(12px, 1.2);
                        color: #2D2F31;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .load-more {
                @include global-font;
                @include font-format(14px, 1.2);
                color: #5624D0;
                font-weight: 700;
                display: block;
                margin-top: 15px;

                @include media-breakpoint-down(sm) {
                    @include font-format(12px, 1.2);
                }
            }
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 0;
        gap: 10px;

        a {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: margin-box;
            box-sizing: border-box;
            border: 1px solid transparent;
            border-radius: 50%;
            font-size: 14px;
            font-weight: 700;

            @include media-breakpoint-down(sm) {
                @include font-format(12px, 1.2);
                width: 32px;
            height: 32px;
            }

            &:hover {
                color: #fff;
                background-color: $brand-primary;

                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }

        li.page-next, li.page-prev {

            a {
                border-color: #000;
            }
        }
    }
}